/* @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900'); */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
    --color-primary: #899878;
    --color-primary-dark: #222725;
    --color-primary-light: #F7F7F2;
    --color-complementary: #877898;
    --color-complementary-dark: #433b4d;
    --color-white: #FFFFFF;
    --color-gray: #F7F7F2;
    --color-secondary: #D696A9;
    --padding-y: 6rem;
    --padding-x: 3rem;
}

@media (max-width:1228px) {
    :root {
        --padding-y: 5rem;
        --padding-x: 2rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-display: swap;
}

/* ===== Scrollbar ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-complementary) var(--color-white);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: var(--color-white);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-complementary);
    border-radius: 20px;
    border: 0px solid var(--color-white);
}

body,
html {
    font-display: swap !important;
    /* font-family: 'Roboto'; */
    /* font-family: 'Poppins'; */
    font-family: 'DM Sans';
    background-color: var(--color-primary-light);
    width: 100%;
}

body {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    padding: 0;
    margin: 0;
    color: var(--color-primary-dark);
}

a {
    text-decoration: none;
    cursor: pointer;
}

.container {
    background-color: var(--color-white);
    margin: 5rem 6rem;
}

@media (max-width:769px) {
    .container {
        margin: 4rem .8rem;
    }
}

.round-border {
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    border-radius: 3rem;
    border: none;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
    flex-wrap: wrap;
    gap:1.5rem;
}

.title-font-size {
    font-size: clamp(2.5rem, 5vw, 4.3rem);
}

.section-title-font-size {
    font-size: clamp(1.8rem, 3vw, 2.2rem);
}

.subtitle-font-size {
    font-size: clamp(1.2rem, 3vw, 1.8rem);
}

.detail-balls {
    position: absolute;
    max-width: 80px;
    height: auto;
}

@media (max-width:800px) {
    .detail-balls {
        max-width: 60px;
    }    
}

/* Headers */
header {
    display: grid;
    gap: 2rem;
    grid-template-columns: 3fr 2fr;
    position: relative;
    padding-bottom: var(--padding-y);
}

header .info {
    padding: var(--padding-y) 0px 0px var(--padding-x);
}

header .photo {
    padding: var(--padding-y) var(--padding-x) 0px 0px;
    position: relative;
    overflow: hidden;
}



.photo-detail-waves {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}



header p {
    margin-top: 1.3rem;
    max-width: 370px;
    /* white-space: ; */
}

.personal-photo {
    width: 100%;
    height: auto;
    max-width: 350px;
    z-index: 1;
}

.header-detail-balls {
    top: 0;
    left: var(--padding-x);
    transform: translate(70%, -50%);
}

.numbers-highlight {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
    margin-top: 2rem;
    font-weight: bold;
    font-size: 1.1rem;
}

.numbers-highlight div {
    display: flex;
    align-items: center;

}

.numbers-highlight div div {
    display: block;
    margin: .05rem;
}

.numbers-highlight .numbers {
    font-size: 3.5rem;
}

.btn-about-me {
    margin-top: 2rem;
    transform: translateX(60%);

    background-color: var(--color-complementary);
    color: var(--color-white);
    padding: .6rem 2.4rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.4s;
}

.btn-about-me:hover {
    background-color: var(--color-complementary-dark);
}

@media (max-width:1228px) {

    header {
        grid-template-columns: repeat(auto-fit, 1fr);
    }

    header .photo {
        border-radius: 0px;
    }

    .photo-detail-waves {
        right: -100px;
    }

}

@media (max-width:1100px) {

    header {
        grid-template-columns: 1fr;
    }

    header .photo {
        padding: 0 var(--padding-x);
    }

    .personal-photo {
        max-width: 300px;
    }

    header .info {
        padding: var(--padding-y) var(--padding-x) 0px var(--padding-x);
    }

}


/* Main - My Projects */
main {
    display: grid;
    gap: 4rem;
    grid-template-columns: 1fr;
    position: relative;
    padding: calc(var(--padding-y)/2) calc(var(--padding-x) * 2.2) calc(var(--padding-x) * 2.2) var(--padding-y);
}

.colored-bar {
    height: 5px;
    width: 100px;
    border-radius: 100px;
    background-color: var(--color-secondary);
}

.main-detail-balls {
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}

.btn-filter {
    background-color: var(--color-gray);
    color: var(color-primary-dark);
    padding: .5rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.6s;

}

.btn-filter:hover {
    background-color: var(--color-primary-dark);
    color: var(--color-white);
}

.btn-filter.active {
    background-color: var(--color-primary-dark);
    color: var(--color-white);
}

.projects-section {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    justify-self: center;
}

.project {
    border-radius: 30px;
    padding: 1.5rem;
    color: var(--color-complementary-dark);
    box-shadow: 3px 3px 0 3px var(--color-complementary);
    height: 100%;
    cursor: pointer;
}

.project.invisible {
    display: none;
}

.project.show-site {
    animation: slide-right 1000ms forwards, fade-in 500ms forwards;
}

.project.show-software {
    animation: slide-left 1000ms forwards, fade-in 500ms forwards;
}

.project.closing {
    display: flex;
    pointer-events: none;
    animation: fade-out 120ms forwards;
  }

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes slide-right {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes slide-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  

.project:hover {
    color: var(--color-primary-dark);
    box-shadow: 3px 3px 0 3px var(--color-complementary-dark);
}


.project img {
    max-width: 100%;
    height: auto;
    margin: 0px 2rem 2rem 2rem;
    border-radius: 15px;

}

.second-project {
    margin-top: 10px;
}

.third-project {
    margin-top: 20px;
}

@media (max-width:1100px) {
    .second-project {
        margin-top: 0px;
    }

    .third-project {
        margin-top: 0px;
    }
}

.projects-section {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    justify-self: center;
}

@media (max-width:800px) {

    main {
        padding: calc(var(--padding-y)/2) var(--padding-x) calc(var(--padding-y)/2) var(--padding-x) ;
    }

    .projects-section {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }

    .main-detail-balls {
        transform: translate(10%, 0%);
        max-width: 50px;
    }
}

/* Footer - Contact */
footer {
    display: grid;
    gap: 4rem;
    grid-template-columns: 1fr;
    position: relative;
    padding: calc(var(--padding-y)/2) calc(var(--padding-x) * 2.2)  var(--padding-y) calc(var(--padding-x) * 2.2);
}


.contact-section {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    justify-self: center;
    width: 100%;
}

@media (max-width:800px) {
    footer {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        padding: calc(var(--padding-y)/2) var(--padding-x) calc(var(--padding-y)/2) var(--padding-x);
    }

    .contact-section {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }

    .contact-section .margin{
        margin-top: 1rem;
    }
}


.contact-section i {
    margin-right: .4rem;
}

.contact-section a {
    color: var(--color-complementary-dark);
}



.contact-section a:hover {
    color: var(--color-primary-dark);
}

.cv-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cv-link {
    background-color: var(--color-complementary);
    color: var(--color-white) !important;
    padding: .6rem 2.4rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.4s;
}

.cv-link:hover {
    background-color: var(--color-complementary-dark);
}

@media (max-width:1552px) {
    .cv-link {
        margin-top: 2rem;
    }

    .cv-wrapper{
        align-items: start;
    }
}

/* Modal */

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
    animation-fill-mode: backwards;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;

}

.modal.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;

}

.modal-bg {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    z-index: 2;
}

.modal-container {
    border-radius: 20px;
    background: var(--color-white);
    position: relative;
    padding: 2.7rem;
    z-index: 100;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, 1fr);
    max-width: 850px;
    max-height: 85vh;
    margin: 2.7rem;
    overflow-y: auto
}

.modal-close {
    position: absolute;
    right: 25px;
    top: 15px;
    outline: none;
    appearance: none;
    color: var(--color-secondary);
    background: none;
    border: 0px;
    font-weight: bold;
    cursor: pointer;

}

.modal-container .project-img {
    max-width: 100%;
    height: auto;
    /* margin: 0px 2rem; */
    border-radius: 10px;
}

.tecs-wrapper {
    display: flex;
    /* gap: 1rem; */
    /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
    width: 100%;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
}

.tec-img {
    height: 35px;
    width: auto;
}

.modal-container .tec-tag {
    background-color: var(--color-complementary);
    color: var(--color-white);
    font-weight: 400;
    font-size: 1rem;
    margin: .2rem .15rem;
    padding: .2rem .5rem;
    border-radius: 10px;
    white-space: nowrap;
}